@-webkit-keyframes openYourHeart {
    from {
        r: 0;
    }
    to {
        r: 60px;
    }
}

@keyframes openYourHeart {
    from {
        r: 0;
    }
    to {
        r: 60px;
    }
}

#myClip circle {
    -webkit-animation: openYourHeart 15s infinite;
    animation: openYourHeart 15s infinite;
}

#popsicle #drop-left {
    -webkit-animation: drop-left 3s ease-in-out infinite;
    animation: drop-left 3s ease-in-out infinite;
}

#popsicle #drop-right {
    -webkit-animation: drop-right 2.5s ease-in-out infinite;
    animation: drop-right 2.5s ease-in-out infinite;
}

.anime {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes drop-left {
    from {
        transform: translate(30px, 239px);
        opacity: 1;
    }
    to {
        transform: translate(30px, 330px);
        opacity: 0;
    }
}

@keyframes drop-left {
    from {
        transform: translate(30px, 239px);
        opacity: 1;
    }
    to {
        transform: translate(30px, 330px);
        opacity: 0;
    }
}

@-webkit-keyframes drop-right {
    from {
        transform: translate(120px, 239px);
        opacity: 1;
    }
    to {
        transform: translate(120px, 360px);
        opacity: 0;
    }
}

@keyframes drop-right {
    from {
        transform: translate(120px, 239px);
        opacity: 1;
    }
    to {
        transform: translate(120px, 360px);
        opacity: 0;
    }
}
